//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.

include module

doctype html
html
	head
		title= L('title')
		+PageHead()
	body
		span#locale= JSON.stringify(LANG)
		div.middle
			h2= L('register')
			br
			div#form
				div.g.TnBGroup
					label= L('email')
					input#uEmail(type='text', placeholder= L('emailX'))
					button#emailCheck= L('check')
				sup#email= "이메일은 아이디 · 비밀번호 찾기에 사용됩니다."
				div.g.TnBGroup
					label= L('id')
					input#uID(type='text', placeholder= L('idX'))
					button#idCheck= L('check')
				sup#id= "로그인에 사용될 아이디입니다."
				div.g
					label= L('pw')
					input#uPW(type='password', placeholder= L('pwX'))
				div.g
					label= L('repw')
					input#urePW(type='password', placeholder= L('repwX'))
				sup#password= "로그인에 사용될 비밀번호입니다."
				div.g.TnBGroup
					label= L('nick')
					input#uNick(type='text', placeholder= L('nickX'))
					button#nickCheck= L('check')
				sup#nickname= "게임 내부에서 사용될 닉네임 입니다."
				
			button#register= L('register')
				